
@*@{
    ViewBag.Title = "AccountPortal";
}*@

<h2>AccountPortal</h2>

<div class="row">
    <div class="col-lg-12">
        <h2>GPCC Application Look Up</h2>
    </div>
    <div class="row">
        <div class="col-lg-12">
            @*<h5>@Html.MvcSiteMap().SiteMapPath()</h5>*@
        </div>
    </div>
    <div ng-app="accountPortal">

        <div ng-controller="portalController">
            <div class="row">
                <form novalidate name="SearchForm" class="simple-form col-lg-8">
                    
                    <div>
                        First Name: <input type="text" ng-model="firstName"/>
                        Middle Initial: <input type="text" ng-model="middleInitial" style="width: 20px" maxlength="1"/>
                        Last Name: <input type="text" ng-model="lastName"/>
                    </div>

                    <br/><br/>
                    <button type="submit" class="btn btn-primary" ng-click="getAccount()">Search</button>
                    <circle-spinner ng-show="showSpinner"></circle-spinner>
                </form>
                <br/><br/>
                <div class=" col-lg-4">
                    Grid Settings:
                    <button id="save" type="button" class="btn btn-success" ng-click="saveState()">Save</button>
                    <button id="restore" type="button" class="btn btn-success" ng-click="restoreState()">Restore</button>
                </div>
            </div>
            <br/><br/>
            <div id="acountsGrid" ui-grid="gridOptions" class=" grid" ui-grid-resize-columns ui-grid-move-columns ui-grid-save-state></div>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="~/Content/angular-spinkit.css">

<script src="~/Areas/Milestone/Scripts/angular.js"></script>
<script src="~/Areas/Milestone/Scripts/GpccAccountLookup.js"></script>
